{{#if resume.education.length}}
<div class="container education-container">
    {{> title value="Educación"}} {{#each resume.education}}
    <section class="item">
        {{> section-header name=this.institution }} {{#if location}}
        <h5 class="location">{{location}}</h5>
        {{/if}}

        <h4>{{#if studyType}}{{studyType}} {{/if}}{{#if area}}in {{area}}{{/if}}</h4>

        {{#if gpa}}
        <h5>{{gpa}}</h5>
        {{/if}} {{#if specialization}}
        <h5 class="specialization">{{specialization}}</h5>
        {{/if}} {{#if courses.length}}
        <ul class="two-column">
            {{#each courses}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}
