<div class="section-header clearfix">
    {{#if name}}
    <h3 class="bold pull-left">
        {{#if website}}
            <a href="{{website}}" target="_blank">
                {{name}}
                {{#if showWebsite }}
                    <span class="sublink">∙ <a href="{{website}}" target="_blank" class="sublink">{{website}}</a></span>
                {{/if}}
                {{!-- <i class="fa fa-external-link" aria-hidden="true"></i> --}}
            </a>
        {{else}}
            {{name}}
        {{/if}}
    </h3>
    {{/if}}
    <h5 class="italic pull-right">
        {{#if startDate}}
            <span class="startDate">{{formatDate startDate}}</span>
            {{#if endDate}}
            <span class="endDate"> - {{formatDate endDate}}</span>
            {{else}}
            <span class="endDate"> - Presente</span>
            {{/if}}
        {{else if releaseDate}}
            {{formatDate releaseDate}}
        {{/if}}
    </h5>
</div>
